Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  clang-analyzer-*,

  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -modernize-pass-by-value,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic
WarningsAsErrors: 'bugprone-*,performance-*'
HeaderFilterRegex: '(src|include)/.*'
FormatStyle: none
